In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
syn = pd.read_csv("drive/MyDrive/Dataset/Syn.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (85) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
syn_cols = list(syn.columns.values)

In [ ]:
print("SYN= ",syn.shape)
print("min =", min(syn.shape))

SYN=  (4320541, 88)
min = 88

In [ ]:
print("BENIGN= ",syn.shape)
print("min =", min(syn.shape))

BENIGN=  (4320541, 88)
min = 88

In [ ]:
ld =syn.iloc[:191694,]
ld.to_csv("drive/MyDrive/Dataset/DataProcess/Syn1.csv")

In [ ]:
import pandas as pd 
syn = pd.read_csv("drive/MyDrive/Dataset/DataProcess/Syn1.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (86) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
syn.head()

,Unnamed: 0,Unnamed: 0.1,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,...,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,SimillarHTTP,Inbound,Label
0,0,445444,172.16.0.5-192.168.50.4-9429-9429-6,172.16.0.5,9429,192.168.50.4,9429,6,2018-11-03 11:36:28.607338,36063894,...,29.444864,52.0,1.0,1.202128e+07,6.253623e+06,18628035.0,6193840.0,0,1,Syn
1,1,113842,172.16.0.5-192.168.50.4-60224-60224-6,172.16.0.5,60224,192.168.50.4,60224,6,2018-11-03 11:36:28.607339,44851366,...,0.000000,1.0,1.0,2.066268e+07,1.169783e+07,28934293.0,12391060.0,0,1,Syn
2,2,176377,172.16.0.5-192.168.50.4-33827-11746-6,192.168.50.4,11746,172.16.0.5,33827,6,2018-11-03 11:36:28.607388,1,...,0.000000,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0,0,Syn
3,3,24777,172.16.0.5-192.168.50.4-33828-1431-6,172.16.0.5,33828,192.168.50.4,1431,6,2018-11-03 11:36:28.607391,0,...,0.000000,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0,1,Syn
4,4,85100,172.16.0.5-192.168.50.4-5311-5311-6,172.16.0.5,5311,192.168.50.4,5311,6,2018-11-03 11:36:28.607442,35731470,...,33.234019,48.0,1.0,1.191047e+07,1.849493e+06,13693985.0,10001398.0,0,1,Syn

In [ ]:
syn.describe()

,Unnamed: 0,Unnamed: 0.1,Source Port,Destination Port,Protocol,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Inbound
count,191694.000000,191694.000000,191694.000000,191694.000000,191694.000000,1.916940e+05,191694.000000,191694.000000,191694.000000,191694.000000,...,191694.000000,1.916940e+05,1.916940e+05,1.916940e+05,1.916940e+05,1.916940e+05,1.916940e+05,1.916940e+05,1.916940e+05,191694.000000
mean,95846.500000,242450.169484,36787.044660,32771.201389,6.001857,1.033676e+07,3.656192,1.469644,22.195833,8.931725,...,19.999791,3.893625e+04,5.010195e+04,8.816376e+04,6.745925e+03,4.298214e+06,1.139411e+06,5.279488e+06,3.359970e+06,0.999765
std,55337.435588,138443.350292,18669.657047,18924.641651,0.148396,1.628882e+07,2.737902,1.943545,43.446079,30.503117,...,0.084724,2.633668e+05,3.238323e+05,5.469261e+05,1.528699e+05,7.014597e+06,2.425558e+06,8.512241e+06,5.877532e+06,0.015320
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,2.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,47923.250000,122594.000000,20715.250000,16397.000000,6.000000,1.000000e+00,2.000000,0.000000,12.000000,0.000000,...,20.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000
50%,95846.500000,242525.500000,37076.500000,32779.500000,6.000000,9.500000e+01,2.000000,2.000000,12.000000,12.000000,...,20.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000
75%,143769.750000,362072.000000,53704.750000,49139.000000,6.000000,2.742224e+07,6.000000,2.000000,36.000000,12.000000,...,20.000000,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.078831e+07,9.364007e+05,1.321879e+07,6.812960e+06,1.000000
max,191693.000000,482796.000000,65532.000000,65535.000000,17.000000,1.185017e+08,114.000000,40.000000,16170.000000,10222.000000,...,32.000000,8.966284e+06,1.392895e+07,3.692889e+07,8.966284e+06,5.900620e+07,2.369050e+07,5.905515e+07,5.895725e+07,1.000000

In [ ]:
ds = pd.concat([syn])

In [ ]:
ds.to_csv("drive/MyDrive/Dataset/DataProcess/SynProcess.csv")